:root {
    --green-strong: #1C3D14;
    --green-medium: #005034;
    --green-light: #958419;
    --danger: #dc3545;
  }
  

.card-top {
    border:none;
    border-left: solid 5px var(--green-light);
    height: 80px;
    max-height: 80px;
}
  
.card-top .card-top-title {
    color: #1C3D14;
    font-size: 13px;
    font-weight: 700;
}
  
.card-top-content {
    color: #2d3436;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-hov {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

.card-hov:hover, .card-hov:focus, .card-hov:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: white !important;
    border-left: solid 5px var(--green-strong);
}

.card-content {
    border:none;
    border-left: solid 5px var(--green-light);
    max-height: 95%;
}

.btn-hov {
    color: #fff;
    background: #1C3D14;
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
.btn-hov:hover {
    color: #1C3D14;
    background: #fff;
    border: 1px solid #1C3D14;
}

#search-btn:focus {
    outline: none;
    box-shadow: none;
    color: #1C3D14;
    background: #fff;
    border: 1px solid #1C3D14;
}

#register-btn:focus {
    outline: none;
    box-shadow: none;
    color: #1C3D14;
    background: #fff;
    border: 1px solid #1C3D14;
}

.btn-hov-invert {
    color: #1C3D14;
    background: #fff;
    border: 1px solid #1C3D14;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-hov-invert:hover {
    color: #fff;
    background: #1C3D14;
    border: 1px solid transparent;
}

.btn-hov-invert:focus {
    outline: none;
    box-shadow: none;
    color: #fff;
    background: #1C3D14;
    border: 1px solid transparent;
}


.nav.nav-tabs .nav-link.tab {
    color: #333333;
}

.nav.nav-tabs .nav-link.tab:hover {
    color: var(--green-light);
}

.nav.nav-tabs .nav-link.tab.active {
    color: var(--green-strong);
    font-weight: bold;
}

.cp-interno:focus { 
    box-shadow:none;
    border: solid 2px var(--green-strong);
}

.to_search:focus { 
    box-shadow:none;
    border: solid 2px var(--green-strong);
}

.not-found-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--danger);
    padding: 0;
    margin: 0;
}

.invalid {
    border: solid 1px var(--danger);
}

.invalid:focus { 
    box-shadow:none;
    border: solid 2px var(--danger);
}

.btn-card {
    padding: 7px;
    background-color: transparent;
    border-radius: 50%;
    color: #555555;
}

.btn-card:hover {
    border-radius: 50%;
    background-color: #ecf0f1;
    color: var(--green-strong);
    font-weight: bold;
}

.btn-card:focus {
    outline: none;
    box-shadow: none;
    background-color: #ecf0f1;
    color: var(--green-strong);
    font-weight: bold;
}