@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --green-strong: #1C3D14;
    --green-medium: #005034;
    --green-light: #958419;
    --grey-dark: #2d3436;
}

body {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#topbar {
  margin: 0;
  padding: 0;
  max-width: 100%;
  padding-left: 3%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.head__custom-nav {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#mainContainer {
  padding-left:50px;
  padding-right: 50px;
  padding-top: 1%;
  max-width: 100%;
  box-shadow: 0 5px 5px 0 #dfe6e9;
  margin-bottom: 70px;
}

.custom-section {
  padding: 40px 0;
}

.btn-login {
    padding: 8px 30px;
    color: #fff;
    background-color: #1C3D14;
    border: 1px solid transparent;
    
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-login:hover {
    color: #1C3D14;
    background-color: #fff;
    border: 1px solid #1C3D14;
}

.btn-login:focus {
    outline: none;
    box-shadow: none;
    color: #1C3D14;
    background-color: #fff;
    border: 1px solid #1C3D14;
}

.btn-more {
    padding: 8px 30px;
    margin-left: 10px;
    color: #fff;
    background-color:#958419;
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-more:hover {
    color: #958419;
    background-color: #fff;
    border: 1px solid#958419;
}

.btn-more:focus {
    outline: none;
    box-shadow: none;
    color: #958419;
    background-color: #fff;
    border: 1px solid#958419;
}

.btn-login-nav {
    padding: 8px 25px;
    margin-right: 25px;
    text-align: center;
    color: #fff;
    background-color: #1C3D14;
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-login-nav:hover {
    color: #1C3D14;
    background-color: #ffffff;
    border: 1px solid #1C3D14;
}

.btn-login-nav:focus {
    outline: none;
    box-shadow: none;
    color: #1C3D14;
    background-color: #ffffff;
    border: 1px solid #1C3D14;
}

.nav-item {
    padding-left: 8px;
    padding-right: 8px;
}

.nav-icon {
    /* padding-left: 30px; */
}

.img-content {
    padding: 0;
    margin: 0;
}

.img-content img {
    padding: 0;
    margin: 0;
    max-width: 100%;
    border-radius: 10px;
}

#main-text-header {
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 0;
}

#main-text-header p {
    padding-top: 10px;
}

#main-title {
    font-size: 22px;
    font-weight: 800;
    font-style: bold;
}

.bg-green-strong {
    background-color: var(--green-strong);
}
  
.bg-green-light {
    background-color: var(--green-light);
}

  .scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: #95841999;
    line-height: 46px;
  }
  
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
  }
  
  .scroll-to-top:hover {
    background: var(--green-light);
  }
  
  .scroll-to-top i {
    font-weight: 800;
  }

.text-green-strong {
    color: var(--green-strong);
}
  
.text-green-light {
    color: var(--green-light);
}

.text-green-medium {
  color: var(--green-medium);
}

.footer-item a {
  color: white;
}

.footer-item a:hover {
  text-decoration: none;
  color: #badc58A0;
}