@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --green-strong: #1C3D14;
  --green-strong2: #005034;
  --green-light: #958419;
  --grey-dark: #2d3436;
}

body {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#topbar {
  margin: 0;
  padding: 0;
  max-width: 100%;
  padding-left: 3%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 4px 4px 0 #dfe6e9;
}

.head__custom-nav {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.btn-login-nav {
    padding: 8px 22px;
    text-align: center;
    margin-left: 20px;
    color: #fff;
    background-color: #1C3D14;
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-login-nav:hover {
    color: #1C3D14;
    background-color: #fff;
    border: 1px solid #1C3D14;
}

.nav-item {
    padding-left: 8px;
    padding-right: 8px;
}

.nav-icon {
    padding-left: 30px;
}

#main-title {
    font-size: 22px;
    font-weight: 800;
    font-style: bold;
}

.login-card {
  margin-top: 40px;
  border: 1px solid #dfe6e9;
  box-shadow: 0 5px 5px 5px #dfe6e9; 
}

.img-col {
    max-width: 100%;
    max-height: 100%;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 0;
    margin-right: 0;
}

.btn-login {
    padding: 8px 22px;
    color: #fff;
    background-color: var(--green-strong);
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-login:hover {
    color: var(--green-strong2);
    background-color: #fff;
    border: 1px solid #1C3D14;
}

.btn-login:focus {
  color: #1C3D14;
  background-color: #fff;
  border: 2px solid #1C3D14;
  box-shadow: none;
}

.user_email:focus {
  /*outline: #1C3D14;*/
  box-shadow:none;
  border: solid 2px var(--green-strong);
}

.user_password:focus {
  box-shadow:none;
  border: solid 2px var(--green-strong);
}

.invalid {
  box-shadow:none;
  border: solid 1px #dc3545;
}

.invalid::placeholder {
  /*color:#ff6b6b;*/
}

.invalid:focus {
  box-shadow:none;
  border: solid 2px #dc3545;
}

.error-message {
  color: #dc3545;
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px #dc3545;
  border-radius: 4px;
  background-color: #fab1a033;
}