" alt="QR Code">
        </div>
        <div class="row">
            <p style="text-align: center; font-size: 20px;font-family: 'Lato', sans-serif;">Escanea este código a través de la app:</p>
        </div>
        <img style="margin-left: 240px; margin-bottom: 30px;" src="img/png/fi_app.png" alt="App" width="210" height="140">
        <div class="" style="margin-left: 145px;">
            <img src="./img/png/google_play.png" width="" height="60" alt="Disponible en Google Play">
            <img src="./img/png/appstore.png" width="" height="60" alt="Disponible en App Store">
        </div>
    </div>
</body>